{% extends 'shared/base.html' %}
{% load static %}
{% load humanize %}


{% block title %}
Shopping Cart
{% endblock title %}


{% block main %}

<section>
  <div class="container">
    <h3 class="text-center mt-5">Checkout</h3>
    <div class="row">
      <div class="col-sm-7">
       <h4>Shipping Address</h4>
       {% if shippingaddrest %}
        {% for item in shippingaddrest %}
          <div class="addresstv">{{item.theaddress}}------> {{item.themobiles}}</div><br>
          <a href="{% url 'changeaddress'  %}">Change this Shipping Address</a>
        {% endfor %}
        {% else %}

        
        <div id="ship_addr">
          <h6>Fill in your shipping details</h6>
          <form action="{% url 'addaddress' %}" method="post">
            {% csrf_token %}
            <div class="form-group">
              <label for="mobilenumber" class="shipadd">Mobile number</label>
              <input width="60%" class="form-control" type="tel" name="mobilenumber" id="mobilenumber">
            </div>
            <div class="form-group">
              <label for="current_address" class="shipadd">Current Address</label><br>
              <textarea name="current_address" id="current_address" cols="45" rows="2"></textarea>
            </div>
            <input type="hidden" name="customername" value="request.user.username">
            
            <br>
            <button type="submit" class="btn btn-success">Submit</button>
          </form>
        </div>
        {% endif %} <br>
      </div>
      
      <div class="col-sm-5">
        <center>
          <h4>Order Summary</h4>
        </center>

       <ul> 
         {% if orderdetail %}
         <li>
           <table class="table table-hover">
             <thead>
               <tr>
                 <th scope="col">Product</th>
                 <th scope="col">Price</th>
                 <th scope="col">Quantity</th>
                </tr>
              </thead>
              {% for item in orderdetail %}
               <tbody>
                 <tr>
                  <td> {{item.product_name}} </td>
                  <td> {{item.product_unitprice}} </td>
                  <td> {{item.quantity}} </td>
                 </tr>
               </tbody>
               {% endfor %}
             </table>
         </li>
           <h4>Total Amount: {{ totalamount }}</h4>
         {% else %}
         <center>
           <p>
             <h4 class="bg-danger text-white p-3 ">No item in your Orderdetail</h4>
           </p>
          </center>
         {% endif %}
       </ul>
      </div>
    </div>
    <h4 class="text-center mt-6">Make Payment </h4>
    <!-- <form id="payform" method="POST" action="{% url 'order' %}"> -->
      <form id="payform" method="POST">
      <div class="topay">
          <center>
              <button type="submit" id="btnPay" style="width: 30%; margin:0 auto;" class="btn btn-success">Make Payment</button>
              <input type="hidden" id="email" value="user.email" required><br>
              <input type="hidden" id="price" value="{{ totalamount }}" required><br>
          </center>
      </div>
    </form>
  </div>

</section>


<script src="/static/js/jquery.min.js"></script>

<script>
    $("#payform").on("submit", function(e){
        e.preventDefault();
        $.ajax({
            // url: "{% url 'init_payment' %}",
            url: "{% url 'order' %}",
            type: 'POST',
            data: {
                email: '{{ user.email }}',
                amount: '{{ totalamount }}',
                current_address: '{{ current_address }}',
                csrfmiddlewaretoken: '{{ csrf_token }}',
                dataType: "json",
            },
            beforeSend: function(){
                console.log("Ready");
                $("#btnPay").attr("disabled", "disabled");
            },
            success: function(resp){
                window.location.href = resp.link;
            },
            error: function(){
                $("#btnPay").removeAttr("disabled");
            }
        });
    });
    
</script>
{% endblock main %}