
{% extends "shared/base.html" %}
{% load static %}


{% block title %}
    Change Password
{% endblock title %}



{% block mainmain %}
<style>
  #main, .dashboard, .sidebarr{
    display: none;
  }
</style>
  
{% endblock mainmain %}




{% block main %}

<style>
label{
    font-weight: bolder;
    margin-left: 7%;    
    float: left;
}
 #registerform{
    position: relative;
    margin: 1rem auto;
    width: 60%;
    height: 500px;
    padding: 5px;
    background-color: #fff;
    border: 1px solid #cb26e0;
    overflow: hidden;
    border-radius: 10%;
}
.button-box{
    width: 30%;
    padding: 10px 30px;
    cursor: pointer;
    display: block;
    margin: auto;
    /* box-shadow: 0 0 10px 5px yellowgreen; */
    background:linear-gradient(to right, #cb26e0, #0fffdf, grey) ;
    /* border: 0; */
    /* outline: none; */
    border-radius: 30px;
}
.acct input{
    padding-left: 5px;
    border-top: none;
    border-left: none;
    border-right: none;
    margin: 0 auto 5px;
    width: 90%;
}
.accthead{
  text-align: center;
  /* background-color: thistle; */
  padding-bottom: 5px;
}



 /* Small devices (landscape phones, 576px and up) */
 @media (max-width: 768px) {     

}

</style>

<div class="col s12 m8 offset-m1" id="registerform">
  
    <h4 class="accthead">Change Password</h4>
    <form action="{% url 'password_change' %}" method="POST" class="acct">
      {% csrf_token %}
      {{form.as_p}}
      <p>
        <input class="btn button-box" type="submit" value="Change Password">
      </p>
    </form>
  
</div>

{% endblock main %}








